body{
    font-family: sans-serif;
    padding-left: 20%;
    padding-right: 20%;
}

label{
    font-size: 1.3em;
    display: block;
    padding-bottom: 0.5em;
}

input{
    font-size: 1.3em;
   display: block
}

form{
    background-color: aquamarine;
    padding: 10%;
}


.radio-inline{
    display: inline;
}